*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
/* Button Styles  */
.btn-signin{
    background-color: #FF42A5;
    border-radius: 48px;
    padding: 21px 40px; 
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
.btn-go{
    background-color: #4EC5F7;
    border: 0px;
    border-radius: 48px;
    padding: 21px 40px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}
.follow-btn{
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 10px 10px;
    align-items: center;
}

/* Nav Bar Styles  */
.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: #FFF;
    margin-left: 240px;
}
span{
    color:  #FF42A5;
}
.logo{
    display: flex;
}
.logo, h2{
    font-size: 45px;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 240px;
    
}
.nav-links, li > a{
    list-style: none;
    color: #3C354F;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    
}
.link-title{
    color: #3C354F;
}

/* Banner Section  */
.banner{
display: flex;

}
.banner-contant{
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    padding: 10rem;
    align-items: center;
    justify-content: center;
}
.banner-contant, {
    color: #0B0223;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-m-title{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    color: #8758F1;
}
.banner-des{
    text-align: start;
    margin-top:1rem ;
}
.buttons{
  margin-top: 1.5rem;  
  cursor: pointer;
}
.banner-img{

}

.gamer{
    display: flex;
}
.gamer-text{
    text-align: end;
    margin-right: 170px;
    margin-top: 100px;
}
.gamer-title{
    text-align: right;
    font-size: 45px;
    font-weight: 700;
    color: #F948B2;
}
.gamer-des{
    color: #534C64;
    font-size: 1rem;
    font-weight: 400;
    margin-top:0.8rem ;

}
.gamer-btn{
    background-color: #FF42A5;
    color: #FFF;
    font-size: 1rem;
    padding: 21px 40px;
    font-weight: 700;
    border: 0px;
    border-radius: 48px;
    margin-top: 1.2rem;
}
.gamer-last-des{
    font-size: 24px;
    font-weight: 500;
    color: #534C64;
    margin-top: 10px;
}
.gamer-last-title{
    color: #534C64;
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
}
.video-title{
    text-align: center;
    margin-top:1rem ;
}
.video-des{
    color: #3C354F;
    text-align: center;
    margin-top: 0.7rem;

}
.videos-container{
    display: flex;
    justify-content: center;
    gap: 0.7rem;
    overflow: hidden;
    width: 300px;
    height: 300px;
}
.videos-container, img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   margin-top: 0.8rem;
}

.video-contant:hover{
    border: 3px solid #534C64;
    border-radius: 5px;
    
}

.play-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    margin: 100px;
    gap: 10rem;
}
.play-img-container{
    width: 600px;
    display: flex
}


.play-image{
    width: 250px;
    height: 200px;
    position: relative;
    top: 380px;
    right: 500px;
    

}
footer{
    background-color:#0B0223;
    height: 400px;
    color: #FFF;
    padding-top: 50px;
}
.footer-logo{
    display: flex;
    justify-content: center;
    text-align: center;
    
    
}
.footer-logo-img{
    width: 86px;
    height: 40px;
}
.footer-menu{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}
.menu-text{
    font-size: 18px;
    font-weight: 700;
    color: #FFF;
}

.footer-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
    cursor: pointer;
    
}
.policy{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    gap: 25px;
    cursor: pointer;
    color: #534C64;


}
.footer-des{
    text-align: center;
    margin-top: 35px;
    color: #3C354F;
}

@media screen and (max-width:"576px"){
    .nav-container{
        flex-direction: column;
    }
    .nav-links{
        flex-direction: column;
    }
}