*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
/* Button Styles  */
.btn-signin{
    background-color: #FF42A5;
    border-radius: 48px;
    padding: 21px 40px; 
    border: 0px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
}
.btn-go{
    background-color: #4EC5F7;
    border: 0px;
    border-radius: 48px;
    padding: 21px 40px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}
.follow-btn{
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
    padding: 10px 10px;
    align-items: center;
}

/* Nav Bar Styles  */
.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    background-color: #FFF;
    margin-left: 240px;
}
span{
    color:  #FF42A5;
}
.logo{
    display: flex;
}
.logo, h2{
    font-size: 45px;
}
.nav-links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-right: 240px;
    
}
.nav-links, li > a{
    list-style: none;
    color: #3C354F;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    
}
.link-title{
    color: #3C354F;
}

/* Banner Section  */
.banner{
display: flex;

}
.banner-contant{
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    padding: 10rem;
    align-items: center;
    justify-content: center;
}
.banner-contant, {
    color: #0B0223;
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-m-title{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    color: #8758F1;
}
.banner-des{
    text-align: start;
    margin-top:1rem ;
}
.buttons{
  margin-top: 1.5rem;  
}
.banner-img{

}